.navigation {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 0;
  flex-direction: column;


  &__menu {
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__item {
    border-bottom: rem(1) solid $border-color;
    border-top: rem(1) solid transparent;

    &:first-child {
      border-top: rem(1) solid $border-color;
    }

    &.active {
      height: 100%;
      width: 100%;
      border: none;
      position: relative;

      .navigation__button {
        position: absolute;
        transform: rotate(180deg);
        left: 0;
      }

      &::after {
        position: absolute;
        content: '';
        top: rem(48);
        left: 0;
        width: 100%;
        height: rem(1);
        background: $border-color;
      }
    }
  }

  &__button {
    padding: 0;
    width: rem(6);
    height: rem(10);
    background-color: $white;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    padding: rem(14);
    line-height: rem(20);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      text-decoration: none;
    }
  }

  &__submenu {
    font-size: rem(15);
    line-height: rem(18);
    animation: apperanceLeft 0.4s;
    margin-top: rem(15);

    &-item.active {
      .navigation__submenu-button {
        transform: rotate(-90deg);
      }
    }

    span {
      margin-right: rem(10);
      pointer-events: none;
    }

    &-button {
      transition: transform 0.2s;
      width: rem(6);
      height: rem(10);
      transform: rotate(90deg);
      cursor: pointer;
    }
  }

  &__submenu-link {
    text-decoration: none;
    color: $text-color;
    padding: rem(15);
    display: flex;
    align-items: center;
  }

  &__submenu-last {
    padding-left: rem(20);
    animation: apperance 0.4s;

    &-item {
    }

    &-link {
      display: block;
      text-decoration: none;
      color: $text-color;
      padding: rem(12);
    }
  }

}

@media screen and (max-width: $small) {
  .navigation {
    width: 100%;



  }

}