.search-form {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: rem(16);
  position: relative;
  justify-content: flex-end;
  flex-grow: 1;

  &__input {
    display: none;
    padding: rem(12) rem(12) rem(12) rem(12);
    border: none;
    border-top: rem(1) solid transparent;
    border-bottom: rem(1) solid $border-color-second;
    flex-grow: 1;
    animation: apperanceRight 0.4s;
    color: $placeholder-color;
    font-size: rem(13);
    letter-spacing: normal;
    line-height: rem(16);
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500;

    @include placeholder {
      color: $placeholder-color;
      font-size: rem(13);
      letter-spacing: normal;
      line-height: rem(16);
      font-family: Montserrat, Arial, sans-serif;
      font-weight: 500;
    }

    &:focus {
      outline: none;
      border-bottom: rem(2) solid $border-focus;

      color: $border-focus;


    }

    &::-webkit-input-placeholder:focus {
      color: $border-focus;
      text-shadow: none;
      -webkit-text-fill-color: initial;
    }

  }

  &__close-button {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(15);
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    width: rem(16);
    height: rem(16);
    background-color: $white;
    background-image: url("../img/close-search.svg");
    background-repeat: no-repeat;
    font-size: 0;
  }

  &.active {
    flex-grow: 1;
    justify-content: space-between;

    .search-form__input {
      display: block;
    }

    .search-form__close-button {
      display: block;
    }

  }

  &__button {
    margin-top: rem(13);
    margin-bottom: rem(13);
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    width: rem(18);
    height: rem(18);
    background-color: $white;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    font-size: 0;
    margin-right: rem(15);
  }
}