body {
  font-family: Montserrat, Arial, sans-serif;
  color: $text-color;
  background-color: $white;
  font-weight: 500;
  letter-spacing: 0.3px;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: all .4s;
}

header {
  padding: rem(15);
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

button:focus {
  opacity: 0.5;
}

@keyframes apperanceRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes apperanceLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hiddenRight {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes apperance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}