$extraLarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

$mainFontSize: 17px;
$mainLineHeight: 24px;

$placeholder-color: #9babb8;
$text-color: #313539;
$border-color: #f1f8fe;
$border-color-second: #c4d6e4;
$border-focus: #338ffa;
$white: #ffffff;
