$extraLarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

$mainFontSize: 17px;
$mainLineHeight: 24px;


$text-color: #313539;
$border-color: #f1f8fe;
$border-color-second: #c4d6e4;
$white: #ffffff;
